* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    padding: 30px;
}

.wrapper {
    margin: 0 auto;
    min-width: 1500px;
    min-height: 1800px;
    font-family: 'Raleway', sans-serif;
}

.header__body--title {
    font-size: 60px;
    line-height: 25px;
    font-weight: 900;
}

.link-header {
    text-decoration: none;
    
    color: #262626;
}

.link-blog {
    text-decoration: none;
    color: #FFFFFF;
}

.header {
    min-height: 1000px;
    min-width: 1500px;
    background: url('./images/img.png');
    background-repeat: no-repeat;
    background-position: center center center;
    padding: 65px 161px;
    border-top: 3px solid #efefef;
    border-left: 3px solid #efefef;
    border-right: 3px solid #efefef;
    color: #262626;
}

.header__menu {
    padding: 0 0 225px 30px;
    display: flex;
    justify-content:space-between;
}

.header__menu--img {
    height: 84px;
    width: 95px;
}

.navigation {
    padding: 25px 0;
}

.navigation__list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navigation__list--item { 
    border: 3px solid transparent;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    margin: 0 15px;
}

.navigation__list--item:hover {
    border-top: 3px solid #FF6033;

}


.navigation__list--active {
    border-top: 3px solid #FF6033;
    padding: 0;
}

.header__body--paragraph {
    width: 370px;
    padding: 30px 0;
    font-size: 17px;
    line-height: 27px;
}

.header__body--btn {
    width: 200px;
    height: 55px;
    background: #FF6033;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 27px;
    border: 1px solid transparent;
    box-shadow: -1px 3px 3px 0px rgba(173, 172, 174);
}

.header__body--scroll {
    text-align: center;
    padding-top: 290px;
    opacity: 0.8;
}

.blog__view-more--btn {
    width: 190px;
    height: 50px;
    background: #f72b3b;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 27px;
    border: 1px solid transparent;
    box-shadow: -1px 3px 3px 0px rgba(121, 86, 121);
}

.about-us {
    height: 670px;
    background: rgb(0,196,196);
    background: linear-gradient(0deg, rgba(0,196,196,1) 0%, rgba(0,183,183,1) 3%, rgba(0,173,173,1) 7.000000000000001%, rgba(0,156,156,1) 30%);
    display: flex;
    color: #FFFFFF;
}

.about-us__img {
    width: 566px;
    height: 559px;
    margin: 48px 94px 0 135px
}

.about-us__article {
    padding: 161px 165px 0 0;
}

.title {
    font-size: 90px;
    line-height: 27px;
    padding: 40px 0;
}

.about-us__article--page {
    width: 500px;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
}

.about-us__article--item {
    padding: 5px 0;
}

.blog {
    padding: 70px 150px;
    min-height: 800px;
    background-color: #b07cf7;
    text-align: center;
}

.blog__about {
    margin: 0 auto;
    width: 550px;
    color: #FFFFFF;
    text-align: center;
}

.blog__about--page {
    margin: 50px 0;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
}

.blog__news {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.blog__news--col1 {
    background-image: url('./images/blog-20nov.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

.blog__news--col2 {
    background-image: url('./images/blog-14nov.jpg');
    background-repeat: no-repeat;
    background-position: center center;   
}
.blog__news--col3 {
    background-image: url('./images/blog-10nov.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

.col {
    padding: 20px;
    width: 370px;
    height: 311px;
    box-shadow: -1px 3px 3px 0px rgba(121, 86, 121);
    color: #FFFFFF;
}

.blog__news--data-btn {
    width: 50px;
    background: rgba(0,0,0, 0.3);
    margin: 20px 18px;
    border-radius: 5px;
}

.blog__news--data-title {
    font-size: 20px;
    font-weight: 700;
}

.blog__news--subtitle {
    padding: 95px 22px 25px 10px;
    font-size: 17px;
    font-weight: 700;
    text-align: left;  
}
    
.blog__news--note {
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
}