* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: 'Raleway', sans-serif;
}

.link {
    text-decoration: none;
}

.navigation {
    display: none;
}

.navigation-toggle {
    background-color: transparent;
    border: none;
}

.navigation-toggle.header__body--btn {
    width: auto;
    padding: 0 25px;
}

.header {
    background: url('./images/img.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 3px solid #efefef;
    border-left: 3px solid #efefef;
    border-right: 3px solid #efefef;
    height: 90vh;
    color: #262626; 
}

.header__menu {
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
}

.header__menu--img {
    display: block;
    width: 50%;
    max-width: 80px;
    height: auto;
}

.header__body {
    margin-top: 25vh;
}

.header__body--title {
    text-align: center;
    font-size: 45px;
    font-weight: 900;
}

.header__body--paragraph {
    margin: 0;
    padding: 30px 15px;
    text-align: center;
    font-size: 17px;
    line-height: 27px;
}

.header__body--btn {
    width: 200px;
    height: 55px;
    background: #FF6033;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 27px;
    border: 1px solid transparent;
    box-shadow: -1px 3px 3px 0px rgba(173, 172, 174);
}

.header__body--scroll {
    display: none;
}

.about-us {
    height: auto;
    max-height: 100vh;
    background: rgb(0,196,196);
    background: linear-gradient(0deg, rgba(0,196,196,1) 0%, rgba(0,183,183,1) 3%, rgba(0,173,173,1) 7.000000000000001%, rgba(0,156,156,1) 30%);
    display: flex;
    color: #FFFFFF;
    padding: 10% 5%;
    align-items: center;
}
.about-us__img {
    width: 55%;
    max-width: 360px;
    height: auto;
}

.about-us__article {
    padding: 0;
}

.about-us__article--page {
    width: 100%;
    font-size: 12px;
    text-align: center;
}

.about-us__title,
.gallery__title {
    padding: 7% 0;
    text-align: center;
}

.services {
    height: auto;
    background: #70BFFF;
    padding: 10% 2%
}

.services__cols {
    display: flex;
    justify-content: space-between;
}

.services__cols--col1 {
    width: 50%;
}

.services__cols--col2 {
    width: 45%;
    position: relative;
}

.services__col1--list {
    width: 100%;
    margin: 2% auto;
    height: auto;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0 4px 10px #00000080;
}

.services__col1--item {
    width: 75%;
    padding-top: 9%;
    color: #262626;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-right: 1px solid #d1d1d1;
}

.icons {
    margin: 0 auto;
    padding: 8px 0;
    background: #FFFFFF;
}

.services__title {
    color: #FFFFFF;
    text-align: left;
    position: absolute;
    padding-top: 40%;
}

.services__image {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.gallery {
    background: #FFE92F;
    color: #262626;
    text-align: center;
}

.gallery__article {
    width: 90%;
    padding-bottom: 5%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 24px;
}

.gallery__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery__image-1 {
    width: 100%;
}

.gallery__image2-3 {
    display: flex;
    flex-direction: wrap;
    margin: 0;
}

.gallery__image-2,
.gallery__image-3 {
    width: 50%;
}

.gallery__image3-4 {
    width: 50%;
}

button {
    color: #FFFFFF;
    font-size: 15px; 
    border: none; 
}

.gallery__button {
    margin: 5%;
    width: 40%;
    height: 55px;
    background: #5585A2;
    box-shadow: -1px 1px 2px 2px rgba(175, 160, 32);
}

.subscribe-to-us {
    background-image: url('./images/bg-subscribe-to-us.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20% 10%;
    line-height: 20px;
    color: #262626;
}

.subscribe-to-us__article {
    width: 70%;
    height: auto;
    padding: 10% 0;
    font-size: 15px;
}

.subscribe-to-us__title {
    font-size: 35px;
    line-height: 30px;
}

.subscribe-to-us__mail {
    border: 1px solid #262626;
    width: 50%;
    height: 50px;
    padding-left: 5%;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 1px rgba(210, 210, 210);
}

.subscribe-to-us__mail::placeholder {
    font-size: 12px;
    color: #262626;
    opacity: 0.5;
}

.subscribe-to-us__mail:focus {
    border: 1px solid #262626;
    opacity: 1;
}

.subscribe-to-us__button {
    margin-left: 2%;
    width: 30%;
    min-height: 55px;
    background: #96B92C;
    box-shadow: -1px 1px 2px 2px rgba(210, 210, 210);
}

.blog {
    padding: 5%;
    height: auto;
    background-color: #b07cf7;
    text-align: center;
}

.blog__about {
    margin: 0 auto;
    width: 95%;
    color: #FFFFFF;
    text-align: center;
}
.blog__title {
    font-size: 50px;
}

.blog__about--page {
    margin: 5% 0;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
}

.blog__news {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 5%;
}

.blog__news--col1 {
    background-image: url('./images/blog-20nov.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

.blog__news--col2 {
    background-image: url('./images/blog-14nov.jpg');
    background-repeat: no-repeat;
    background-position: center center; 
    margin: 0 2%;  
}
.blog__news--col3 {
    background-image: url('./images/blog-10nov.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

.col {
    padding: 2%;
    width: 31%;
    height: auto;
    box-shadow: -1px 3px 3px 0px rgba(121, 86, 121);
    color: #FFFFFF;
}

.blog__news--subtitle {
    padding: 50% 10% 5% 7%;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
}

.blog__news--data-btn {
    width: 30%;
    background: rgba(0,0,0, 0.3);
    margin: 10% 20% 10% 5%;
    border-radius: 3%;
}

.blog__news--data-title {
    font-size: 80%;
    font-weight: 700;
}

.blog__news--note {
    font-size: 7px;
    text-align: left;
    padding-left: 5%;
}

.link-blog {
    color: #FFFFFF;
}

.blog__view-more--btn {
    text-align: center;
    width: 40%;
    height: 50px;
    background: #f72b3b;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 27px;
    border: 1px solid transparent;
    box-shadow: -1px 3px 3px 0px rgba(121, 86, 121);  
} 

.form {
    min-height: 100vh;
}

.form__contact {
    background-image: url('./images/bg-form.png');
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 80vh;
    color: #262626;
    text-align: center;
    padding: 0 2%;
}

.form__contact--title {
    padding-top: 15%;
    font-size: 50px;
}

.form__contact--subtitle {
    margin: 0 auto;
    padding: 10% 15%;
    font-size: 15px;
    line-height: 22px;
    width: 100%;
}

.form__contact--form {
    display: flex;
    justify-content: space-between;
}

.form__contact--message {
    width: 100%;
}

.form__contact--item {
    width: 100%;
    min-height: 50px;
    margin-bottom: 3%;
    background: #00C4C4;
    border: none;
    padding-left: 5%;
    color: #FFFFFF;
    font-weight: bold;
    opacity: 0.6;
}

.form__contact--item::placeholder {
    font-size: 10px;
    color: #FFFFFF;
    line-height: 25px;
    font-weight: 400;
}
textarea {
    width: 100%;
    min-height: 20vh;
    margin-bottom: 15px;
    background: #00C4C4;
    border: none;
    padding: 5%;
    color: #FFFFFF;
    font-weight: bold;
    opacity: 0.6;
}

textarea:focus {
    opacity: 1;
    font-weight: bold;
    border: none;
    outline:none;
    border-left: 5px solid #355B82;
}

textarea::placeholder {
    color: #FFFFFF;
    font-size: 10px;
    line-height: 25px;
    font-weight: 400;
}

input:focus {
    opacity: 1;
    font-weight: bold;
    outline:none;
    border-left: 5px solid #355B82;
}

.form__contact--adress {
    width: 100%;
    padding-left: 4%;
    text-align: left;
}

.form__adress--title {
    font-size: 14px;
    line-height: 25px;
}

.form__adress--item {
    font-size: 16px;
    line-height: 25px;
}

.form__footer {
    height: auto;
    min-height: 10vh;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #B9B9B9;
    line-height: 25px;
    padding: 0 1%;
}

.copyright {
    font-size: 12px;
}

.form-logo {
    font-size: 15px;
    padding: 0 5%;
    font-family: 'Pacifico', cursive;
}

.form__annotation {
    font-size: 12px;
}

@media (min-width:768px) {
    .header__body--paragraph {
        width: 80%;
        margin: 0 auto;
    }
    .about-us__article--page {
        font-size: 17px;
    }
    .services__title {
        font-size: 45px;
        
    }
    .services__col1--item {
        font-size: 16px;
    } 
    .button {
        font-size: 17px;
    }  
    .blog__about--page {
        font-size: 16px;
        line-height: 25px;
    }
    .blog__title {
        font-size: 70px;
    }
    .blog__news--subtitle {
        font-size: 16px;
    }

    .blog__news--note {
        font-size: 10px;
    }
    .form__contact--subtitle {
        font-size: 17px;
        line-height: 25px;
    }
    .form__contact--item::placeholder {
        font-size: 15px;
    }
}


@media (min-width:1200px) {
    .header__body {
        margin-top: 0;
    }

    .wrapper {
        width: 100vw;
    }

    .header__body--title {
        text-align: left;
        line-height: 25px;
        font-size: 60px;
    }

    .header__body--btn {
        display: none;
    }
    
    .subscribe-to-us__title {
        font-size: 40px;
    }
    
    .blog__title {
        font-size: 90px;
    }
    
    .link-header {
        color: #262626;
        text-decoration: none;
    }
    
    .header {
        padding: 65px 161px;
        height: 100vh;
    }
    
    .header__menu {
        padding: 0 0 225px 30px;
        display: flex;
        justify-content:space-between;
    }
    
    .header__menu--img {
        height: 84px;
        width: 95px;
    }
    
    .navigation {
        display: block;
        padding: 25px 0;
    }
    
    .navigation__list {
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    
    .navigation__list--item { 
        border: 3px solid transparent;
        font-size: 16px;
        line-height: 25px;
        font-weight: 700;
        margin: 0 15px;
    }
    
    .navigation__list--item:hover {
        border-top: 3px solid #FF6033;
    
    }
    
    
    .navigation__list--active {
        border-top: 3px solid #FF6033;
        padding: 0;
    }
    
    .header__body--paragraph {
        width: 370px;
        padding: 30px 0;
        text-align: left;
    }
    
    .header__body--scroll {
        display: block;
        text-align: center;
        padding-top: 290px;
        opacity: 0.8;
    }
    
    .blog__view-more--btn {
        width: 190px;
        font-size: 17px;
    }
    
    .about-us {
        height: auto;
        max-height: 670px;
        line-height: 27px;
    }
    
    .about-us__img {
        max-width: 500px;
        height: 559px;
        margin: 48px 94px 0 135px;
    }
    
    .about-us__article {
        padding: 161px 165px 0 0;
    }
    
    .about-us__title,
    .gallery__title {
        font-size: 90px;
        padding: 40px 0;
    }
    
    .about-us__article--page {
        width: 500px;
        font-size: 17px;
    }
    
    .about-us__article--item {
        padding: 5px 0;
    }
    
    .blog {
        padding: 70px 150px;
        min-height: 800px;
    }
    
    .blog__about {
        width: 550px;
    }
    
    .blog__about--page {
        margin: 50px 0;
    }
    
    .blog__news {
        margin-bottom: 50px;
    }
    
    .col {
        padding: 20px;
        width: 370px;
        height: 311px;
    }
    
    .blog__news--data-btn {
        width: 50px;
        margin: 20px 18px;
        border-radius: 5px;
    }
    
    .blog__news--data-title {
        font-size: 20px;
    }
    
    .blog__news--subtitle {
        padding: 95px 22px 25px 10px;
        font-size: 17px; 
    }
        
    .blog__news--note {
        padding-left: 10px;
    }
    
    .form:hover {
        border: 2px solid #5a8fcd;
    }
    
    .form__contact {
        min-height: 775px;
        padding: 0 165px;
    }
    
    .form__contact--title {
        padding-top: 100px;
        min-height: 106px;
        font-size: 90px;
        line-height: 25px;
    }
    
    .form__contact--subtitle {
        padding: 50px 92px;
        width: 570px;
    }
        
    .form__contact--message {
        padding-right: 85px;
        min-height: 445px;
    }
    
    .form__contact--item {
        width: 480px;
        padding-left: 20px;
    }
    
    
    textarea {
        width: 480px;
        min-height: 250px;
        padding: 15px 20px;
    }
    
    
    .form__contact--adress {
        width: 500px;
        padding-left: 30px;
    }
    
    .form__adress--item {
        font-size: 20px;
    }

    .form__adress--title {
        font-size: 17px;
    }
    
    .form__footer {
        min-height: 90px;
        padding: 0 165px;
    }
    
    .copyright {
        font-size: 16px;
    }
    
    .form-logo {
        font-family: 'Pacifico', cursive;
    }
    
    .form__annotation {
        font-size: 15px;
    }
    
    .colour-red {
        color: #FF2B58;
    }
    
    .services {
        min-height: 790px;
        padding: 130px 130px 100px 200px;
    }
    
    
    .services__col1--list {
        margin-bottom: 20px;
        width: 400px;
        min-height: 100px;
        line-height: 27px;
    }
    
    .services__col1--item {
        padding-top: 25px;
        font-size: 20px;
    }
    
    .icons {
        padding: 15px 0;
    }
    
    .services__cols--col2 {
        width: 545px;
    }
     
    .services__title {
        font-size: 70px;
        line-height: 27px;
        padding-top: 250px;
    }
    
    .services__image {
        padding-left: 80px;
    }
    
    .services__icons {
        width: 40px;
        height: 100%;
        text-align: right;
        border-left: 1px solid #000000;
    }
    
    .gallery {
        padding: 80px 130px 50px 130px;
    }
    
    .gallery__article {
        width: 630px;
        min-height: 91px;
        padding: 0 5px 20px 0;
        font-size: 17px;
        line-height: 27px;
    }
    
    
    .gallery__image-1 {
        width: 66%;
    }

    .gallery__image2-3 {
        display: block;
        width: 34%;
        margin: 0;
    }
    
    .gallery__image-2 {
        margin: 1% 0;
        width: 100%
    }
    .gallery__image-3 {
        width: 100%;
    }

    .gallery__image3-4 {
        width: 50%;
    }
    
    .gallery__button {
        margin: 50px auto;
        width: 200px;
        text-align: center;
    }
    
    .subscribe-to-us__button {
        margin-left: 30px;
        width: 30%;
    }
    
    .gallery__link {
        text-decoration: none;
    }
    
    .subscribe-to-us {
        padding: 140px 130px;
        line-height: 27px;
    }
    
    .subscribe-to-us__article {
        width: 570px;
        min-height: 72px;
        padding: 21px 0;
        font-size: 17px;
    }
    
    .subscribe-to-us__mail {
        width: 100%;
        height: 55px;
        padding-left: 20px;
         box-shadow: 1px 1px 3px 1px rgba(210, 210, 210);
    }
    
    .subscribe-to-us__mail::placeholder {
        font-size: 15px;
    }
}

